{% block content %}
{% load static %}
{% csrf_token %}
<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <title>Freicali Atualizacao IGPM</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="{% static 'juroComposto/js/jquery.rsLiteGrid.js'%}"></script>
    {{ jct|json_script:"jct" }}
    <link rel="stylesheet" href="{% static 'juroComposto/css/atualizacao.css'%}">
  <script>
    $(document).ready(function () {
      $('.dados').rsLiteGrid({

                    cols: [{
                      name: 'dataDivida',
                      header: 'Data da Dívida',
                      markup: '<input type="date" class="form-control " style="text-align:center;">'
                    }, {
                      name: 'valorDevido',
                      header: 'Valor da Divida',
                      markup: '<input type="number" class="form-control" style="text-align:center;">',
                      defaultValue: '0'
                    }, {
                      name: 'multa',
                      header: 'Multa',
                      markup: '<input type="number" class="form-control" disabled style="text-align:center;">'
                    }, {
                      name: 'igpmAcumulado',
                      header: 'IGPM Acumulado',
                      markup: '<input type="number" class="form-control" disabled style="text-align:center;">'
                    }, {
                      name: 'correcao',
                      header: 'Correção',
                      markup: '<input type="number" class="form-control" disabled style="text-align:center;">'
                    }, {
                      name: 'juros',
                      header: 'Juros',
                      markup: '<input type="number" class="form-control" disabled style="text-align:center;">'
                    }, {
                      name: 'honorarios',
                      header: 'Honorarios',
                      markup: '<input type="number" class="form-control" disabled style="text-align:center;">'
                    }, {
                      name: 'total',
                      header: 'Total',
                      markup: '<input type="number" class="form-control" disabled style="text-align:center;">'
                    }, {
                          // Delete button needs no name, since this columns does not need to be exported to Json
                          markup: '<button title="delete this row">X</button>',
                          tabStop: false
        }],

        // evento que acontece quando uma nova linha e criada e adiciona o botao de apagar.
        onAddRow: function (event, $lastNewRow) {
          $('button', $lastNewRow).click(function () {
            $('.dados').rsLiteGrid('delRow', $lastNewRow);
          });
        }

        // load table with 2 rows of data
      });

      // export data
      $('.dados + button').click(function () {
        console.log($('.dados').rsLiteGrid('getData'));
        alert('Open your browser console to see the Json data.');
      });

      $('.addRow').click(function () {
            $('.dados').rsLiteGrid('addRow');
            });


      const dadosj = JSON.parse(document.getElementById('jct').textContent.split('\\\"').join('\"').replace('\"{','{').replace('}\"', '}'));
      //const dadosj = JSON.parse(dj);

      $('#multa').val(dadosj.multa);
      $('#juros').val(dadosj.juroMes);
      $('#honorarios').val(dadosj.honorarios);
      var d = new Date(dadosj.dataCalculo);
      $('#dataCalculo').val(d.toISOString().substr(0, d.toISOString().indexOf('T')));

        //valorDevido_value, multa_value, igpmAcumulado_value, correcao_value, juros_value, honorarios_value, total_value
      $('.dados').rsLiteGrid('setData',[
            {% for linha in jct.Linhas %}
                {dataDivida: '{{linha.dataDivida|cut:"T00:00:00.000Z"}}', valorDevido: ({{linha.valorDevido}}).toFixed(2), multa: ({{linha.multa}}).toFixed(2), igpmAcumulado: ({{linha.igpmAcumulado}}*100).toFixed(2), correcao: ({{ linha.correcao }}).toFixed(2), juros: ({{ linha.juros }}).toFixed(2), honorarios: ({{ linha.honorarios }}).toFixed(2), total: ({{linha.total}}).toFixed(2) } {% if not forloop.last %}, {% endif %}
            {% endfor %}
      ]);


       $('.calcular').click(function () {
            var json = 	{"juroMes": $('#juros').val(),"multa": $('#multa').val(),"honorarios": $('#honorarios').val(),"dataCalculo": (new Date($('#dataCalculo').val())).toISOString()};
            var linhas = $('.dados').rsLiteGrid('getData');
            json.Linhas = linhas;
            console.log(JSON.stringify(json));
            $('#upload').val(JSON.stringify(json));
       });

       $('.imprimir').click(function () {
            var json = 	{"juroMes": $('#juros').val(),"multa": $('#multa').val(),"honorarios": $('#honorarios').val(),"dataCalculo": (new Date($('#dataCalculo').val())).toISOString()};
            var linhas = $('.dados').rsLiteGrid('getData');
            json.Linhas = linhas;
            console.log(JSON.stringify(json));
            $('#uploadp').val(JSON.stringify(json));
       });

        $('.salvar').click(function () {
            var json = 	{"juroMes": $('#juros').val(),"multa": $('#multa').val(),"honorarios": $('#honorarios').val(),"dataCalculo": (new Date($('#dataCalculo').val())).toISOString()};
            var linhas = $('.dados').rsLiteGrid('getData');
            json.Linhas = linhas;

            var a = document.createElement("a");
            document.body.appendChild(a);
            a.style = "display: none";

                var arquivo = JSON.stringify(json),
                blob = new Blob([arquivo], {type: "octet/stream"}),
                url = window.URL.createObjectURL(blob);
                a.href = url;
                a.download = 'freicali' + (new Date($.now())).toISOString().replace(/-/g,"") + '.json';
                a.click();
                window.URL.revokeObjectURL(url);

       });


    });
  </script>
</head>
<body>
<br>
<div>
    <div>
        <table>
            <tr>
                <td>
                    <label for="dataCalculo">Data de Cálculo</label>
                </td>
                <td>
                    <input type="date" class="dataCalculo" name="dataCalculo" id="dataCalculo" style="text-align:center;">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="multa">Multa</label>
                </td>
                <td>
                    <input type="number" class="multa" name="multa" id="multa" min="0" step="any" style="text-align:center;">
                    <label for="multa">%</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="honorarios">Honorarios</label>
                </td>
                <td>
                    <input type="number" class="honorarios" name="honorarios" id="honorarios" min="0" step="any" style="text-align:center;">
                    <label for="honorarios">%</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="juros">Juros</label>
                </td>
                <td>
                    <input type="number" class="juros" name="juros" id="juros" min="0" step="any" style="text-align:center;">
                    <label for="juros">%</label>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div>
	    <table class="dados"></table>
    </div>
    <br>

    <div>
        <table>
                <tr>
                    <td style="text-align: left;">
                        <form method="post" enctype="multipart/form-data" action="{% url 'juroComposto:atualizacao' %}" method="post">
                        {% csrf_token %}
                            <input type="file" name="upload" accept=".json">
                            <br>
                            <button class="btn btn-dark my-4" type="submit">Carregar Arquivo</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" enctype="multipart/form-data" action="{% url 'juroComposto:atualizacao' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="upload" name="upload" >
                            <button class="calcular" id="calcular" type="submit">Calcular</button>
                        </form>
                    </td>
                    <td>
                        <input id="addRow" class='addRow' type="button" value="Adicionar Linha" />
                    </td>
                    <td>
                        <input id="salvar" class='salvar' type="button" value="Salvar" />
                    </td>
                    <td>
                        <form method="post" enctype="multipart/form-data" action="{% url 'juroComposto:imprimir' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="uploadp" name="uploadp" >
                            <button class="imprimir" id="imprimir" type="submit">Imprimir</button>
                        </form>
                    </td>
                </tr>
        </table>
    </div>

</div>
</body>
</html>
{% endblock %}