{% block content %}
{% load static %}
{% csrf_token %}
<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  {% if jct.processo or jct.titulo %}
    <title>{{ jct.processo }} {{ jct.titulo }}</title>
  {% else %}
  <title>Atualizado</title>
  {% endif %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {{ jct|json_script:"jct" }}
    <link rel="stylesheet" href="{% static 'juroComposto/css/imprimir.css'%}">
</head>
<body>
<script>
    $(document).ready(function () {
        const dadosj = JSON.parse(document.getElementById('jct').textContent.split('\\\"').join('\"').replace('\"{','{').replace('}\"', '}'));
      const linhas = dadosj.Linhas;
      var dtotal = 0.0;
      var dvalor = 0.0;
      var dmulta = 0.0;
      var dhonorarios = 0.0;
      var djuros = 0.0;
      var dcorrecao = 0.0;

      console.log(linhas);

      for (var ln in linhas) {
            dtotal += parseFloat(linhas[ln].total.toFixed(2));
            dvalor += parseFloat(parseFloat(linhas[ln].valorDevido).toFixed(2));
            dmulta += parseFloat(linhas[ln].multa.toFixed(2));
            dhonorarios += parseFloat(linhas[ln].honorarios.toFixed(2));
            djuros += parseFloat(linhas[ln].juros.toFixed(2));
            dcorrecao += parseFloat(linhas[ln].correcao.toFixed(2));
      }
      $('#totalTotal').html(dtotal.toFixed(2));
      $('#totalValor').html(dvalor.toFixed(2));
      $('#totalMulta').html(dmulta.toFixed(2));
      $('#totalHonorarios').html(dhonorarios.toFixed(2));
      $('#totalJuros').html(djuros.toFixed(2));
      $('#totalCorrecao').html(dcorrecao.toFixed(2));
    });
</script>
<br>
<div>
    <div>
        <table>
            <tr>
                <td>
                    <label for="dataCalculo">Data de Cálculo</label>
                </td>
                <td>
                    <input type="date" class="dataCalculo" name="dataCalculo" id="dataCalculo" readonly value="{{ jct.dataCalculo|cut:"T00:00:00.000Z" }}" style="text-align:center;">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="multa">Multa</label>
                </td>
                <td>
                    <input type="number" class="multa" name="multa" id="multa" min="0" step="any" readonly value="{{ jct.multa }}" style="text-align:center;">
                    <label for="multa">%</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="honorarios">Honorarios</label>
                </td>
                <td>
                    <input type="number" class="honorarios" name="honorarios" id="honorarios" readonly value="{{ jct.honorarios }}" min="0" step="any" style="text-align:center;">
                    <label for="honorarios">%</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="juros">Juros</label>
                </td>
                <td>
                    <input type="number" class="juros" name="juros" id="juros" readonly value="{{ jct.juroMes }}" min="0" step="any" style="text-align:center;">
                    <label for="juros">%</label>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div>
	    <table class="dados" style="width:100%">
            <tr>
                <th>Data da Divida</th>
                <th>Valor Devido (R$)</th>
                <th>Multa (R$)</th>
                <th>IGPM Acumulado (%)</th>
                <th>Correcao (R$)</th>
                <th>Juros (R$)</th>
                <th>Honorarios (R$)</th>
                <th>Total (R$)</th>
            </tr>
            {% for linha in jct.Linhas %}
                <tr>
                    <td>{{linha.dataDivida|cut:"T00:00:00.000Z"}}</td>
                    <td>{{linha.valorDevido}}</td>
                    <td>{{linha.multa|stringformat:".2f"}}</td>
                    <td>{{linha.igpmAcumulado|stringformat:".2f"}}</td>
                    <td>{{ linha.correcao|stringformat:".2f" }}</td>
                    <td>{{ linha.juros|stringformat:".2f" }}</td>
                    <td>{{ linha.honorarios|stringformat:".2f" }}</td>
                    <td>{{linha.total|stringformat:".2f"}}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td>Totais</td>
                    <td id="totalValor"></td>
                    <td id="totalMulta"></td>
                    <td></td>
                    <td id="totalCorrecao"></td>
                    <td id="totalJuros"></td>
                    <td id="totalHonorarios"></td>
                    <td id="totalTotal"></td>
                </tr>
        </table>
    </div>
    <br>
    <br>
    <div>
          {% if jct.advogado %}
            {{ jct.advogado }}
          {% endif %}
    </div>

</div>
</body>
</html>
{% endblock %}