{% block content %}
{% load static %}
{% csrf_token %}
<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  {% if jct.processo or jct.titulo %}
    <title>{{ jct.processo }} {{ jct.titulo }}</title>
  {% else %}
  <title>Atualizado</title>
  {% endif %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {{ jct|json_script:"jct" }}
    <link rel="stylesheet" href="{% static 'juroComposto/css/atualizacao.css'%}">
</head>
<body>
<br>
<div>
    <div>
        <table>
            <tr>
                <td>
                    <label for="dataCalculo">Data de Cálculo</label>
                </td>
                <td>
                    <input type="date" class="dataCalculo" name="dataCalculo" id="dataCalculo" readonly value="{{ jct.dataCalculo|cut:"T00:00:00.000Z" }}" style="text-align:center;">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="multa">Multa</label>
                </td>
                <td>
                    <input type="number" class="multa" name="multa" id="multa" min="0" step="any" readonly value="{{ jct.multa }}" style="text-align:center;">
                    <label for="multa">%</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="honorarios">Honorarios</label>
                </td>
                <td>
                    <input type="number" class="honorarios" name="honorarios" id="honorarios" readonly value="{{ jct.honorarios }}" min="0" step="any" style="text-align:center;">
                    <label for="honorarios">%</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="juros">Juros</label>
                </td>
                <td>
                    <input type="number" class="juros" name="juros" id="juros" readonly value="{{ jct.juroMes }}" min="0" step="any" style="text-align:center;">
                    <label for="juros">%</label>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div>
	    <table class="dados" style="width:100%">
            <tr>
                <th>Data da Divida</th>
                <th>Valor Devido (R$)</th>
                <th>Multa (R$)</th>
                <th>IGPM Acumulado (%)</th>
                <th>Correcao (R$)</th>
                <th>Juros (R$)</th>
                <th>Honorarios (R$)</th>
                <th>Total (R$)</th>
            </tr>
            {% for linha in jct.Linhas %}
                <tr>
                    <td>{{linha.dataDivida|cut:"T00:00:00.000Z"}}</td>
                    <td>{{linha.valorDevido}}</td>
                    <td>{{linha.multa|stringformat:".2f"}}</td>
                    <td>{{linha.igpmAcumulado|stringformat:".2f"}}</td>
                    <td>{{ linha.correcao|stringformat:".2f" }}</td>
                    <td>{{ linha.juros|stringformat:".2f" }}</td>
                    <td>{{ linha.honorarios|stringformat:".2f" }}</td>
                    <td>{{linha.total|stringformat:".2f"}}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
    <br>
    <br>
    <div>
          {% if jct.advogado %}
            {{ jct.advogado }}
          {% endif %}
    </div>

</div>
</body>
</html>
{% endblock %}