{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" href="{% static 'juroComposto/css/atualizacao.css'%}">
<link rel="stylesheet" href="{% static 'juroComposto/css/base.css'%}">
<div class="sidebar" style>
    <a href="{% url 'juroComposto:atualizacao' %}" target="content"> Atualizacao IGPM </a>
    <a href="" target="content" disabled> Parcelamento (em construção) </a>
    <a href="./admin/" target="content"> Administracao </a>
</div>
<div class="center">
    <img src="{% static 'juroComposto/img/splash.png'%}" width="216" height="200">
</div>
</body>
</html>